# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.wheel

# Gunicorn log files
gunicorn-error.log
gunicorn-access.log

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# Media files


# Static files
staticfiles/
static/

# Tailwind CSS
node_modules/
dist/
*.css.map
*.js.map

# Crisp HTML Tailwind
crispy_tailwind_cache/

# VS Code settings
.vscode/

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyCharm
.idea/

# Pyenv
.python-version

# Pipenv
Pipfile.lock

# dotenv
.env
